@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('imgs/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 34px;
  box-shadow: 7px 13px 37px;
  border-top: 4px solid #FFD700;
  background-color: #333;
  border-radius: 15px;
  color: #333;
}

.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.wrapper h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 115%;
  height: 3px;
  width: 250px;
  border-radius: 12px;
  background: #FFD700;
}

.wrapper label {
  color: #fff;
  font-size: 17px;
}

.wrapper form {
  margin-top: 30px;
}

/* Aumento de separación entre campos del formulario */
.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  border-bottom-width: 2.5px;
  background: #585353;
  border: 1px solid #FFD700;
  border-radius: 4px;
  color: white;
  transition: background 0.3s;
}

.input-box input:focus {
  background: white;
  color: black;
}

.input-box input:not(:focus):valid,
.input-box input:not(:focus):invalid {
  background: #585353;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button-box input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  margin-top: 3%; /* Ajusta el valor según tu preferencia */
}

.input-box.button-box input:hover {
  background: #ff6961;
}

form .text h3 {
  color: #fff;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #fff;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
  color: #ff6961;
}
